<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
        <title>Manage Users</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>-->
</head>
<body>

<div class="container-fluid text-center">
    <div><h2>Welcome to Basic Crud</h2> </div>
    <div><a class="h3 mr-2" th:href="@{/users/new}">Add New User</a> </div>
    <div th:if="${message}"  class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div class="mr-2">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Eligible</th>

            </tr>

    </thead>
        <tbody>
        <th:block th:each = "users : ${usersList}">
        <tr>
            <td>[[${users.id}]]</td>
            <td>[[${users.email}]]</td>
            <td>[[${users.firstName}]]</td>
            <td>[[${users.lastName}]]</td>
            <td>[[${users.enabled}]]</td>

            <td><a class="h4 mr-3" th:href="@{'/users/edit/' + ${users.id}}" >Edit</a></td>
            <td><a class="h4" th:href="@{'/users/delete/' + ${users.id}}">Delete</a></td>

        </tr>
        </th:block>
        </tbody>
        </table></div>

</div>

<!--<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>-->
<!--<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>-->
<!--<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>-->

</body>
</html>